*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(118, 118, 227);
    display: list-item;
    justify-content: cover;
    gap: 1.5vmin;
}
.div{
    color: black;
    background-color: rgb(55, 55, 212) ;
    position: sticky;

}
a{
    margin-right: 250px;
    color: white;
    font-size: large;
}
.photo{
    height: 150px;
    width:150px;
    border-radius: 50%;
}
.t{
    font-size: 40px;
}
.signin{
    font-size: 30pxpx;
    color: rgb(9, 6, 9);
}
.search{
    font-size: 20px;
    background-color: rgb(242, 89, 18);
}
h1{
    font-size: 30px;
    text-align: center;
    color: rgb(107, 7, 67);
}
h3{
color: rgb(86, 3, 69);
text-align: center;
}